# Private schedule file
schedule.md

# Exclude virtual environment files
Pipfile
Pipfile.lock

# MacOS files
.DS_Store

# Runtime cache file
__pycache__/

# Django default sqlite database file
*.sqlite3