# Private schedule file
schedule.md

# Exclude virtual environment files
Pipfile
Pipfile.lock

# MacOS files
.DS_Store

# Runtime cache file
__pycache__/

# Django default sqlite database file
*.sqlite3

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# Exclude directory containing user-uploaded files
**/media/uploads

# Ignore .env file
**/.env