.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #f0f2f5;
  background-image: url('../public/background.jpg');
}

.layout {
  display: flex;
  width: 90vw;
  height: 85vh;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-box {
  width: 35%;
  padding: 2rem;
  background-color: #ffffff;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

.form-box h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group label {
  display: flex;
  align-items: center; 
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.required-mark {
  color: #ff0000;
  margin: 0 2px;
}

.info-icon {
  color: #888;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 3px;
  transition: color 0.2s, transform 0.2s;
}

.info-icon:hover {
  color: #007bff; /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

input[type="text"],
input[type="number"],
select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 2rem;
  box-sizing: border-box;
  width: 100%;
}

input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.7;
}

.disabled-input {
  background-color: #f5f5f5;
  color: #666;
}

.dropzone {
  border: 2px dashed #aaa;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  color: #222;
  background-color: #ECFAE5;
  cursor: pointer;
  transition: border-color 0.2s;
}

.dropzone:hover {
  border-color: #333;
}

button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 40%;
  margin: 3rem auto;
  display: block;
}

button:hover {
  background-color: #45a049;
}

.map-box {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem; /* top right bottom left */
  box-sizing: border-box;
  background-color: #f9f9f9;
  height: 100%;  /* Take full height of parent */
}

.map-container {
  flex: 1;  /* Take remaining space */
  min-height: 600px;  /* Minimum height */
  margin-bottom: 1rem;  /* Space between map and button */
}

.save-button {
  margin: 0 auto;  /* Center horizontally */
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 20%;
}

.save-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.save-button:hover:not(:disabled) {
  background-color: #45a049;
}




